<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BANK HEIST</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
       <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/accounts">Accounts</a>
          </li>
          {{#if logged_in}}
          <li class="nav-item active">
            <a class="nav-link" href="/transfer">Transfer</a>
          </li>
          <li class="nav-item active">
            <button class="no-button btn pull-right" id="logout">logout</button>
          </li>
          {{else}}
            <li class="nav-item active">
              <a class="nav-link" href="/login">Transfer</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </div>
          {{/if}}
      </nav>
        
    <main>
        {{{body}}}
    </main>


    <footer> 
    <p class="mt-5 mb-3 text-muted">© 2022- </p>
    </footer>


    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>