<ul class="navbar-nav ms-auto mt-2 mt-lg-0">
  <a class="nav-link" href="./">Back</a>

  </li>
      <li class="nav-item dropdown">
          <label id="navbarDropdown" href="#" for="account">Select user:</label>
            <select name="account-user" id="account-user">
                <option value="volvo">?</option>
            </select>
      </li>
</ul>
<form class="form-signin"></form>
<label for="inputAmount">Enter the amount you'd like to transfer</label>
<div class="transfer">
<input type="text"></input>
<button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
</div>

<script src="./js/transfer.js"></script>