<section class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">A BANK YOU SHOULD TRUST</h1>
    <p class="lead">Manage your accounts, view transaction history and transfer money online! </p>
    <img class="w-100" src="https://i.ytimg.com/vi/hPrcSNhUWHQ/maxresdefault.jpg" alt="A trusted banker">
  </div>
</section>