<section class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Bank Heist</h1>
    <p class="lead">Manage your accounts, view transaction history and transfer money online! </p>
  </div>
</section>