<div class="container col col-lg-6 justify-content-center align-items-center mt-5 signup-form border">
  <form>
      <div class="form-group m-2">
        <label for="name-signup">name:</label>
        <input class="form-control" type="text" id="name-signup" />
      </div>
      <div class="form-group m-2">
        <label for="email-signup">email:</label>
        <input class="form-control" type="text" id="email-signup" />
      </div>
      <div class="form-group m-2">
        <label for="password-signup">password:</label>
        <input class="form-control" type="password" id="password-signup" />
      </div>
      <div class="form-group m-4">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
</div>




   <script src="./js/signup.js"></script>