<div class="row">
  <div class="col-auto ">
    <h1>Statement</h1>
  </div>
  <h2>transaction history</h2>
      {{#each accounts.transactions as |transaction|}} 
    <div class="list-group-item list-group-item-action list-group-item-light p-3">
      <p>Transaction Date: {{format_date transaction.date_created}} amount: £{{transaction.transaction_amount}}</p>
    </div>
      {{/each}}

</div>


    