<div class="row">
  <div class="col-auto ">
    <h1>Account summary</h1>
  </div>
</div>

    {{!-- <div class="list-group-item list-group-item-action list-group-item-light p-3">
      {{#each user.accounts as |account|}} 
      <h3>Account type: {{account.account_name}} </h3>
      <p>Balance: £ {{account.balance}} </p>
      <button class="btn btn-primary" id="sidebarToggle" href="/statement">Statements</button>
      {{/each}}
    </div>
<script src=""></script>
<div id="page-content-wrapper">
    <!-- Top navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
            <button class="btn btn-primary" id="sidebarToggle" href="">Send money</button>
        </div>
    </nav>
</div> --}}

    