h1{
  font-size: 35px;
}

h2{
  font-size: 23px;
}

.signin-btn{
  right:5px;
  position: relative;
  display: block;
}

.signup-btn{
  text-align: right;
  display: block;
}

.login-btn{
  text-align: right;
  display: block;
}

section{
  margin: auto;
  width: 50%;
  border: 3px solid rgb(97, 53, 255);
  padding: 10px;
}

nav{
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbarNav{
  display: flex;
  margin: auto;
  overflow-x: auto;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  text-align: center;
  white-space: nowrap;
}

@media (min-width: 767px) { 
  .logo {
    flex-direction: row;
      top: 6em;
      left: 0px;
      right: 0;
      width:100%;
      
    }
  }