
p {
  word-spacing: 30px;
}

h1{
  font-size: 35px;
}

h2{
  font-size: 23px;
}

.signin-btn{
  right:5px;
  position: relative;
  display: block;
}

.signup-btn{
  text-align: right;
  display: block;
}

.login-btn{
  text-align: right;
  display: block;
}